readonlyrest:
    audit_collector: true
    audit_index_template: "'auditoria'-yyy-MM"
    access_control_rules:

    - name: "::LOGSTASH::"
      auth_key: logstash:3ArwvkriDwUrOEm
      verbosity: error

    - name: "::APM::"
      auth_key: apmserver:3zizO7ykFlL4Fsj
      verbosity: error

    - name: "::KIBANA-SRV::"
      auth_key: kibana:4eBBYeN37C9sgFD

    - name: "::ADMIN::"
      auth_key: elastic:3s6uCgWbGD
      kibana_access: unrestricted
      verbosity: error

    - name: "::FILEBEAT::"
      auth_key: filebeat:6ZhFaMkQ5W3xTlz
      verbosity: error

    - name: "::IGESP-TESTE::"
      auth_key: igesp:2jOe95zv2m
      kibana_access: ro
      indices: [ ".kibana", "*igesp*", "observability*"]

    - name: "::FAZENDARIO::"
      auth_key: fazendario:93tulgD32h
      kibana_access: ro
      verbosity: info

    - name: "ldapA"
      type: allow
      ldap_auth:
        name: "ldap1"
        groups: ["GG_ApoioTecnologico"]
      kibana_access: unrestricted

    - name: "::LDAP_IGESP::"
      type: allow
      ldap_auth:
        name: "ldap1"
        groups: ["GG_ELK_IGESP"]
      kibana_access: ro
      indices: [ ".kibana", "*igesp*", "observability*"]


#Configuração de autenticação LDAP, retornando os grupos em que o usuário pertence.
    ldaps:

    - name: ldap1
      host: "10.1.192.2"
      port: 389
      ssl_enabled: false
      ssl_trust_all_certs: true 
      ignore_ldap_connectivity_problems: false 
      bind_dn: "CN=account_schedule,OU=Services Users,OU=Suporte,DC=sefaz,DC=se,DC=gov,DC=br"
      bind_password: "SchedulE"
      search_user_base_DN: "ou=Desenvolvimento,dc=sefaz,dc=se,dc=gov,dc=br"
      search_groups_base_DN: "OU=Desenvolvimento,DC=sefaz,DC=se,DC=gov,DC=br"
      group_search_filter: "(objectClass=group)"
      unique_member_attribute: "member"
      user_id_attribute: "sAMAccountName"

      connection_pool_size: 30                                # optional, default 30
      connection_timeout_in_sec: 10                             # optional, default 1
      request_timeout_in_sec: 10                                # optional, default 1
      cache_ttl_in_sec: 10
